<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mainmodule">

    <application android:theme="@style/CommonTheme">
        <activity android:name=".SplashActivity"></activity>
        <activity android:name=".MainActivity" android:launchMode="singleTask"/>
    </application>

</manifest>